{
  "enabled": true,
  "internet": {
    "enabled": true
  },
  "filesystem": {
    "extraWritable": [
      "/var/run/docker.sock"
    ],
    "extraReadonly": [
      "/mnt/dados"
    ],
    "denyPaths": [
      "/sbin",
      "/usr/sbin",
      "/root"
    ],
    "cacheDirs": {
      "npm": "",
      "pip": ""
    }
  },
  "ssh": {
    "mode": "agent"
  }
}
